/* ==========================================| FONTES |========================================== */

@font-face {
    font-family: museo-sans300;
    src: url('fonts/Museo 300.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: museo-sans900;
    src: url('fonts/Museo 900.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: myriad-pro-bold;
    src: url('fonts/Myriad Pro Bold.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: myriad-pro-light;
    src: url('fonts/Myriad Pro Light.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
}

/* ==========================================| GERAL |========================================== */

*{
    margin: 0;
    padding: 0;
    font-family: myriad-pro-light, sans-serif;
    font-size: 16px;
    color:#4d5858;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    vertical-align:middle;
}

.navbar{
    border-bottom: 0.5rem solid #00a8a5;
}

.logo{
    width: 10rem;
    height: auto;
}

.card .card-header{
    background-color: #00a8a5a1;
}

.btn-mex{
    background-color: #00a8a5;
    color:#fff;
    /* border-radius: 3rem; */
    /* padding: 0.6rem 3rem; */
    /* margin-bottom: 2rem; */
}

.btn:focus, .btn:hover, .form-control:focus {
    box-shadow: 0 0 0 .2rem rgba(0, 168, 165,.3);
    border-color: #00a8a5;
}

textarea {
    resize: none;
}